.sidebar {
    background-color: #333;
    border: 1px solid #000;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar-title {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    text-align: left;
}

.sidebar-item-list .branch {
    padding-left: 0;
    cursor: pointer;
    color: #fff;
    fill: white;
    stroke: white;
    text-decoration: none;
    display: block;
}

.sidebar-item-list .leaf {
    padding-left: 20px;
    cursor: pointer;
    color: #fff;
    fill: white;
    stroke: white;
    text-decoration: none;
    display: block;
}
.sidebar-item-list .branch .icon {
    color: white;
    fill: white;
    stroke: white;
}

.sidebar-item-list .branch:hover {
    background-color: #000;
}

.sidebar-item-list .branch.active {
    background-color: #000;
}

.sidebar-item-list .leaf .icon {
    color: #fff;
    fill: #fff;
    stroke: #fff;
}

.sidebar-item-list .leaf:hover {
    background-color: #000;
}